################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/.vs/KickAssMTGBot/v16/.suo
/.vs/MTGBot/v16/Server/sqlite3/storage.ide
/.vs/MTGBot/v16/Server/sqlite3/storage.ide-shm
/.vs/MTGBot/v16/Server/sqlite3/storage.ide-wal
/.vs/MTGBot/v16/.suo
/.vs/slnx.sqlite
/.vs/MTGBot/DesignTimeBuild/.dtbcache
/.vs/VSWorkspaceState.json
/Couchbase/bin/Debug/netcoreapp2.2
/Couchbase/obj/Debug/netcoreapp2.2
/Couchbase/obj
/MTGBot/bin/Debug/netcoreapp2.2
/MTGBot/obj/Debug/netcoreapp2.2/MTGBot.csproj.CopyComplete
/MTGBot/obj/Debug/netcoreapp2.2
/MTGBot/obj
/MTGBot/bin/Release/netcoreapp2.2
