<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MoversAndShakersConfigurationDataLocation" value="\\DESKTOP-DJ9AMTK\MoversAndShakersJsonData" />
    <add key="AllServersFileName" value="AllRegisteredServers.json" />
    <add key="MoversAndShakersScrapedDataLocation" value="\\DESKTOP-DJ9AMTK\MoversShakersScraped"/>
    <add key="SavedScrapedTimeFileName" value="SuccessfulScrapedTime.json"/>
  </appSettings>
</configuration>